Invoice Workflow.json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1uj5m4HXBD3Thawsx0A3quRgDOpqCgEpD",
          "mode": "list",
          "cachedResultName": "DEMO",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uj5m4HXBD3Thawsx0A3quRgDOpqCgEpD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7d003f6c-6da7-456f-a092-3a0f731c4a4e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VmgjTf88VmDntSQj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "884f4adc-2408-4300-a198-575d27289e5e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "The name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The email name of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "type": "number",
              "description": "The phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "the total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "the date of the invoice sent"
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "the date the invoice is due"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "c20908a9-3fc1-4654-b715-4379a625a33b",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        240
      ],
      "id": "5350ffc1-3725-4339-a857-03b3bacae785",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tTdWp8GIPOMaSkhT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FD8wNThxfaFYpJdmdv2iLPm9MaTIprb388Ys6ftxKSI",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FD8wNThxfaFYpJdmdv2iLPm9MaTIprb388Ys6ftxKSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FD8wNThxfaFYpJdmdv2iLPm9MaTIprb388Ys6ftxKSI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        896,
        0
      ],
      "id": "891a04cf-f5ae-49b3-a857-e4f71147cd49",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ny1eySmJJ9xmteRq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0ba95e15-485c-4ca6-bfd8-004f610aa8f5",
      "name": "Download Binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VmgjTf88VmDntSQj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\n\nClient Name: {{ $json['Client Name'] }}\n\nClient Email: {{ $json['Client Email'] }}\n\nTotal Amount: {{ $json['Total Amount'] }}\n\nInvoice Date: {{ $json['Invoice Date'] }}\n\nDue Date: {{ $json['Due Date'] }}"
            },
            {
              "content": "## Overview \nYou are an email expert for ABC Corp named ABC. You will receive Invoice information. Your job is to notify the internal billing team that an invoice was sent/received.\n\n## Email\nInform the billing team of the invoice. Let them know we have also updated this Invoice DB, and they can view it here:\nhttps://docs.google.com/spreadsheets/d/1FD8wNThxfaFYpJdmdv2iLPm9MaTIprb388Ys6ftxKSI/edit?usp=sharing\n\n\n## Output\nOutput the following parameters:\nSubject\nEmail",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1088,
        0
      ],
      "id": "8bdf2840-ddb6-4a2b-a03f-0c710b038a7c",
      "name": "Create Email",
      "credentials": {
        "openAiApi": {
          "id": "UfQiQu5YQorSUEqF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vaishvies@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        0
      ],
      "id": "77ffe982-4723-4a3d-87d3-fb6809cc109b",
      "name": "Send Email",
      "webhookId": "ed2ce695-d431-43c0-af79-9eae852da86e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3g27qTVbYfhQEd9C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1648,
        0
      ],
      "id": "79ed3466-e158-4acc-899e-7b5a0028ca3c",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9a2643b-1d2d-463f-a5db-941ef82d92dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "634b9eb8253ba72c6d98b47568a1ace429ea8d4d2818ee0bfbd32b6c02492fa6"
  },
  "id": "eg54qqTuEGTlUYyG",
  "tags": []
}